.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .logo img {
    width: 85px;
    height: 60px;
    margin-right: 10px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu ul li {
    display: inline;
    margin-right: 20px;
  }
  
  .menu ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .search-bar {
    display: flex;
  }
  
  .search-bar input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  